.dependencies-container {
  display: flex;
  gap: 2rem;
  background-color: #f8f8f5;
  padding: 2rem;
  border-radius: 12px;
}

.left-panel {
  flex: 1;
  background: #fff;
  border-radius: 12px;
  padding: 1.5rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  max-width: 100%;
}

.section-title {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #5b2a1c;
  margin-bottom: 0.5rem;
}

.section-title .icon {
  width: 20px;
  margin-right: 8px;
}

.subtitle {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 1.5rem;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin-bottom: 0.4rem;
  color: #333;
}

.destination-list {
  border: 1px solid #ddd;
  border-radius: 10px;
  max-height: 140px;
  overflow-y: auto;
  background: #fafafa;
  padding: 0.5rem;
}

.destination-item {
  background: #fff;
  border-radius: 8px;
  padding: 0.5rem 0.8rem;
  margin-bottom: 0.4rem;
  border: 1px solid #e0e0e0;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-btn {
  width: 32px;
  height: 32px;
  padding: 0;
}


.save-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.save-btn {
  background-color: #5b2a1c !important;
  color: white !important;
  padding: 0.9rem 2rem;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 0 4px 8px rgba(91, 42, 28, 0.3);
  transition: all 0.3s ease;
}

.save-btn:hover {
  background-color: #4a2118 !important;
  box-shadow: 0 6px 12px rgba(91, 42, 28, 0.4);
  transform: translateY(-2px);
}


// Estilos para o dropdown do mat-select
.form-group {
  .select-field {
    width: 100%;
    
    ::ng-deep .mat-mdc-form-field {
      width: 100%;
    }
    
    ::ng-deep .mat-mdc-select-panel {
      max-height: 300px !important;
    }
  }
}
