  <aside class="sidebar">
    <nav>
      <a routerLink="/dashboard" routerLinkActive="active" class="nav-item">
        <lucide-angular name="layout-dashboard" class="nav-icon"></lucide-angular>
        Dashboard
      </a>
      <a routerLink="/alteracoes-history" routerLinkActive="active" class="nav-item">
        <lucide-angular name="history" class="nav-icon"></lucide-angular>
        Histórico Alteração
      </a>
    <a routerLink="/dependencies-history" routerLinkActive="active" class="nav-item">
      <lucide-angular name="database" class="nav-icon"></lucide-angular>
      Dependências
    </a>
    </nav>
  </aside>